<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <!--<head>-->
    <!--     Bootstrap stylesheets and script-->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"-->
    <!--          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">-->

    <!--    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>-->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js">-->


    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">-->


    <!--    <title th:text="'adventureland' + ${title == null ? '' : ' :: ' + title}">Adventure Outdoors</title>-->


    <!--    &lt;!&ndash;    jQuery&ndash;&gt;-->
    <!--    <script src="jquery.js"></script>-->
    <!--    &lt;!&ndash;    <script type="text/javascript" src="jquery.js"></script>&ndash;&gt;-->
    <!--    -->
    <!--    &lt;!&ndash;    jQuery UI&ndash;&gt;-->
    <!--    <link rel="stylesheet" href="jquery-ui.min.css"/>-->
    <!--    <script src="jquery-ui.min.js"></script>-->

    <!--     Bootstrap Datepicker CSS-->
    <!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <!--        <link rel="stylesheet"-->
    <!--              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">-->


    <!--jQuery-->
    <!--    <script src="static/js/jquery.js"></script>-->

    <!--        jQuery CDN-->
    <!--    <script src="https://code.jquery.com/jquery-3.6.1.min.js"-->
    <!--            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="-->
    <!--            crossorigin="anonymous"></script>-->

    <!--&lt;!&ndash;    jQuery from Google Hosted Libraries &ndash;&gt;-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
    <!--    -->
    <!--    -->


    <!--    jQuery UI from Google Hosted Libraries-->
    <!--    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>-->


    <!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!--    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->




    <!--    <script>-->
    <!--$(document).ready(function(){-->
    <!--        $( "#dateReserved" ).datepicker({minDate:1});-->
    <!--  });-->
    <!--  </script>-->



</head>


<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

    <div th:replace="fragments :: logged-in-header"></div>

<h1 th:text="${title}">Default Title</h1>

<!--<p id = "ChangeButton">Current Text</p>-->
<!--<button>Change</button>-->

<div class="container" id="reserve-form">
    <form th:action="@{/reservation/cartView}" th:object="${reservation}" method="post" id="reserve-form-obj">
        <!--        Equipment Information needed for jquery to access and identify if equipment is available to reserve-->
        <div th:object="${equipment}">
            <input th:attr="value = ${equipment.quantity}" class="form-control" id="totalEquipmentInv"
                   type="hidden" name="totalEquipmentInv"/>
            <input th:attr="value = ${equipment.equipmentName}" class="form-control" id="equipmentName"
                   type="hidden" name="equipmentName"/>
            <input th:attr="value = ${equipment.price}" class="form-control" id="equipmentPrice"
                   type="hidden" name="equipmentPrice"/>
        </div>
        <!--    reservedDatesList is a HashMap of all dates that have reservations and their corresponding quantities-->
        <div th:object="${reservedDatesList}">
            <input th:attr="value = ${reservedDatesList}" class="form-control" id="reservedDatesList"
                   type="hidden" name="reservedDatesList"/>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h1 th:text="${equipment.equipmentName}"></h1>
                </div>
                <p></p>
                <div class="row">
                    <h3 th:text="|Rate: ${equipment.price}|"></h3>
                </div>
                <p></p>
                <div class="row">
                    <div class="form-group">

                        <input th:attr="value = ${equipment.price}" class="form-control" id="unitPrice" type="hidden"
                               name="unitPrice"/>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <div th:replace="quantity_control :: quantity_control(${reservation.equipmentQuantity}, ${equipment.id})">Quantity</div>
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label for="dateReserved"> Select a Reservation Date: </label>
                        <input th:attr="value = ${reservation.dateReserved}" th:field="${reservation.dateReserved}" name="dateRes" class="form-control" type="text" id="dateReserved" placeholder="Reservation Date">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="hidden" th:field="*{equipment}"/>
                        <input class="form-control" type="hidden" th:field="*{reservationStatus}"/>
                        <input class="form-control" type="hidden" th:field="${reservation.id}"/>
                    </div>
                    <p></p>

                    <div class="form-group">
                        <input type="submit" id="btnSubmit" value="Add To Cart">
                    </div>
                    <p></p>
                    <div>
                        <a th:href="@{'/equipment'}" class="btn btn-success" role="button">Continue Shopping</a>
                    </div>
                    <p></p>
                    <div class="container-text" id="about-rental">
                        <div class="row">
                            <h3 style="margin-left:30px">About this rental</h3>
                            <!--                            <p th:text="${equipment.description}"></p>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!--                <img src="@{${equipment.image}}" alt="${equipment.name}" width="425" height="625">-->
                <img src="https://images.pexels.com/photos/2749500/pexels-photo-2749500.jpeg" alt="kayak" width="425"
                     height="625">
            </div>
        </div>

    </form>
</div>


</body>


</html>


<script src="/js/calendar.js"></script>
<script src="/js/quantity_control.js"></script>
<script src="/js/add_to_cart.js"></script>