<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<nav th:fragment="logged-in-header" class="navbar navbar-expand-lg navbar-fixed-top bg-dark" role="navigation">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="https://i.ibb.co/kxRLg81/logo.png" alt="" width="225" height="75">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/equipment" style="font-family:Garamond; color:tan">Equipment</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/categories" style="font-family:Garamond; color:tan">All Categories</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/search" style="font-family:Garamond; color:tan">Search</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/account" style="font-family:Garamond; color:tan">Account</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>