<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>

    <title th:text="'adventureland' + ${title == null ? '' : ' :: ' + title}">Adventure Outdoors</title>

</head>

<body>

<nav th:fragment="page-header" class="navbar navbar-expand-lg navbar-fixed-top bg-dark" role="navigation">
    <div class="container-fluid">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <a class="navbar-brand" href="/">
            <img src="https://i.ibb.co/kxRLg81/logo.png" alt="" width="225" height="75">
        </a>
        <div class="col-md-4 mt-3">
            <div class="navbar-nav ms-auto justify-content-center">
                <form th:action="@{/results}" method = "post">
                    <input class="form-control py-2 rounded-pill mr-1 pr-5" name="searchTerm" type="search" value="Quick Search" id="searchTerm">
                    <span class="input-group-append">
                    <button class="btn btn-outline-light text-dark border-0 rounded-pill ml-n5" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </form>
            </div>
        </div>

        <!--            vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv[bigOlDividingLine]vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv   -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto justify-content-end">
                <li class="nav-item"><a class="nav-link" th:href="@{/equipment}" style="font-family:Garamond; color:tan">All Equipment</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/categories}" style="font-family:Garamond; color:tan">All Categories</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/search}" style="font-family:Garamond; color:tan">Search</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/account}" style="font-family:Garamond; color:tan">Account</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/register}" style="font-family:Garamond; color:tan">Register</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/login}" style="font-family:Garamond; color:tan">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="logged-in-header" class="navbar navbar-expand-lg navbar-fixed-top bg-dark" role="navigation">
    <div class="container-fluid">
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>-->
        <a class="navbar-brand" href="/">
            <img src="https://i.ibb.co/kxRLg81/logo.png" alt="" width="225" height="75">
        </a>
        <div class="col-md-4 mt-3">
            <div class="navbar-nav ms-auto justify-content-center">
                <form th:action="@{/results}" method = "post">
                    <input class="form-control py-2 rounded-pill mr-1 pr-5" name="searchTerm" type="search" value="Quick Search" id="searchTerm">
                    <span class="input-group-append">
                    <button class="btn btn-outline-light text-dark border-0 rounded-pill ml-n5" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </form>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto justify-content-end">
                <li class="nav-item"><a class="nav-link" th:href="@{/equipment}" style="font-family:Garamond; color:tan">All Equipment</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/categories}" style="font-family:Garamond; color:tan">All Categories</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/search}" style="font-family:Garamond; color:tan">Search</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/account}" style="font-family:Garamond; color:tan">Account</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}" style="font-family:Garamond; color:tan">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>