<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta cahrset="UTF-8"/>
    <title></title>
</head>
<body>
<div>

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table>
        <tr th:each="equipment : ${equipments}">
            <td>
                <p th:text="${'Name: ' + equipment.equipmentName}"></p>
                <p>
                    Manufacturer:
                    <a th:text="${equipment.manufacturer}"></a>
                </p>
                <p>
                    Price Per Day:   $
                    <a th:text="${equipment.price}"></a>
                </p>
            </td>
        </tr>
    </table>

</div>
</body>
</html>